.article-box {
	margin: 20px;

	.title {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		column-gap: 20px;

		input {
			width: 100%;
			max-width: 400px;

			font-size: 24px;
			font-weight: 800;

			padding: 10px;
			margin: 20px 0 10px;
		}
	}

	.edittext {
		height: calc(100vh - 400px);
		width: 100%;
	}

	.subtitle {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;

		input {
			font-size: 16px;
			font-weight: 600;

			padding: 5px;
			margin: 10px 0 20px;
		}
	}
}
